{% extends 'mainapp/basic.html' %}
{% load static %}

{% block title %} Stock Picker {% endblock %}

{% block css %}
<style>

</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Live Stock Tracker</h1>
    <p>Select your favorite stocks.</p>
    <from action="">
        <label for="stockpicker">Select your stocks:</label>
        <select class="form-select form-select-lg mb-3" multiple aria-label="multiple select" name="stockpicker">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </from>
</div>
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}